---
import '../styles/tailwind.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

	</head>
	<body>
	
	<nav class="md:flex pt-10 md:justify-center">
			<div class="flex justify-between px-7 md:pl-44 md:pr-10 items-center md:hidden">
	
					<!--   Hamburger     -->
					<div class="text-white md:hidden">
							<button>
									<svg height="32" viewBox="0 0 24 24" width="32">
											<path d="M4 6h16M4 12h16M4 18h16" fill="none" stroke="currentColor" stroke-linecap="round"
														stroke-linejoin="round" stroke-width="2"/>
									</svg>
							</button>
					</div>
			</div>
	
			<!--  Links  -->
			<div class="flex justify-center text-center md:gap-x-5">
					<ul class="font-aboreto flex flex-col text-white md:flex-row text-2xl gap-y-5">
							<li class="opacity-50 hover:opacity-100 hover:underline"><a href="#">Project</a></li>
							<li class="opacity-50 hover:opacity-100 hover:underline md:pl-16"><a href="#">Skills</a></li>
							<li class="opacity-50 hover:opacity-100 hover:underline md:pl-16"><a href="#">Blog</a></li>
							<li class="opacity-50 hover:opacity-100 hover:underline md:pl-16"><a href="#">Notes</a></li>
					</ul>
			</div>
	</nav>
	
	<div class="container mt-20 leading-10 flex flex-col items-center mx-auto">
			<div>
					<span class="font-bold font-inter text-white md:text-2xl">
							Hi there, my name is
					</span>
			</div>
	
			<div>
					<span class="bg-gradient-to-l from-blurama to-pinkrama text-transparent bg-clip-text font-bold font-inter text-4xl md:text-6xl">
							Jericho Opsima
					</span>
			</div>
	</div>
	
	<div class="container mt-20 leading-10 flex flex-col items-center mx-auto">
			<div>
					<span class="font-medium font-inter text-white md:text-2xl">Computer Science student from the
							<span class="bg-gradient-to-l from-blurama to-pinkrama text-transparent bg-clip-text font-bold font-inter md:text-2xl">
									Philippines
							</span>
					</span>
			</div>
	
			<!--  Account Links  -->
			<div class="flex gap-x-10 mt-8">
					<div class="text-gray-500 hover:text-white transition-all">
							<a href="https://github.com">
									<svg height="25" viewBox="0 0 45 16" width="90">
											<path d="M18.53 12.03h-.02c.009 0 .015.01.024.011h.006l-.01-.01zm.004.011c-.093.001-.327.05-.574.05c-.78 0-1.05-.36-1.05-.83V8.13h1.59c.09 0 .16-.08.16-.19v-1.7c0-.09-.08-.17-.16-.17h-1.59V3.96c0-.08-.05-.13-.14-.13h-2.16c-.09 0-.14.05-.14.13v2.17s-1.09.27-1.16.28c-.08.02-.13.09-.13.17v1.36c0 .11.08.19.17.19h1.11v3.28c0 2.44 1.7 2.69 2.86 2.69c.53 0 1.17-.17 1.27-.22c.06-.02.09-.09.09-.16v-1.5a.177.177 0 0 0-.146-.18zM42.23 9.84c0-1.81-.73-2.05-1.5-1.97c-.6.04-1.08.34-1.08.34v3.52s.49.34 1.22.36c1.03.03 1.36-.34 1.36-2.25zm2.43-.16c0 3.43-1.11 4.41-3.05 4.41c-1.64 0-2.52-.83-2.52-.83s-.04.46-.09.52c-.03.06-.08.08-.14.08h-1.48c-.1 0-.19-.08-.19-.17l.02-11.11c0-.09.08-.17.17-.17h2.13c.09 0 .17.08.17.17v3.77s.82-.53 2.02-.53l-.01-.02c1.2 0 2.97.45 2.97 3.88zm-8.72-3.61h-2.1c-.11 0-.17.08-.17.19v5.44s-.55.39-1.3.39s-.97-.34-.97-1.09V6.25c0-.09-.08-.17-.17-.17h-2.14c-.09 0-.17.08-.17.17v5.11c0 2.2 1.23 2.75 2.92 2.75c1.39 0 2.52-.77 2.52-.77s.05.39.08.45c.02.05.09.09.16.09h1.34c.11 0 .17-.08.17-.17l.02-7.47c0-.09-.08-.17-.19-.17zm-23.7-.01h-2.13c-.09 0-.17.09-.17.2v7.34c0 .2.13.27.3.27h1.92c.2 0 .25-.09.25-.27V6.23c0-.09-.08-.17-.17-.17zm-1.05-3.38c-.77 0-1.38.61-1.38 1.38c0 .77.61 1.38 1.38 1.38c.75 0 1.36-.61 1.36-1.38c0-.77-.61-1.38-1.36-1.38zm16.49-.25h-2.11c-.09 0-.17.08-.17.17v4.09h-3.31V2.6c0-.09-.08-.17-.17-.17h-2.13c-.09 0-.17.08-.17.17v11.11c0 .09.09.17.17.17h2.13c.09 0 .17-.08.17-.17V8.96h3.31l-.02 4.75c0 .09.08.17.17.17h2.13c.09 0 .17-.08.17-.17V2.6c0-.09-.08-.17-.17-.17zM8.81 7.35v5.74c0 .04-.01.11-.06.13c0 0-1.25.89-3.31.89c-2.49 0-5.44-.78-5.44-5.92S2.58 1.99 5.1 2c2.18 0 3.06.49 3.2.58c.04.05.06.09.06.14L7.94 4.5c0 .09-.09.2-.2.17c-.36-.11-.9-.33-2.17-.33c-1.47 0-3.05.42-3.05 3.73s1.5 3.7 2.58 3.7c.92 0 1.25-.11 1.25-.11v-2.3H4.88c-.11 0-.19-.08-.19-.17V7.35c0-.09.08-.17.19-.17h3.74c.11 0 .19.08.19.17z"
														fill="currentColor"
														fill-rule="evenodd"/>
									</svg>
							</a>
	
					</div>
					<div class="text-gray-500 hover:text-white transition-all">
							<a href="https://linkedin.com">
									<svg height="25" viewBox="0 0 512 128" width="128">
											<path d="m202.057 74.971l28.252 34.743H208l-25.143-31.908v31.908h-18.286V18.286h18.286v53.76l23.223-26.332h23.314l-27.337 29.257Zm-73.143-31.085a24.777 24.777 0 0 0-20.205 10.971v-9.143h-17.28v64h18.285V79.817a15.909 15.909 0 0 1 15.177-17.646c10.606 0 12.252 10.423 12.252 17.646v29.897h18.286v-33.92c0-20.114-6.675-31.908-26.149-31.908h-.366Zm163.657 35.291c.07 1.34.07 2.683 0 4.023h-48v.64a16.366 16.366 0 0 0 16.732 13.074a22.949 22.949 0 0 0 16.823-6.308l12.16 9.143a39.406 39.406 0 0 1-29.715 11.794a31.909 31.909 0 0 1-33.828-34.286a32.731 32.731 0 0 1 34.377-33.371c17.189 0 31.451 12.16 31.451 35.291Zm-17.005-7.863a13.349 13.349 0 0 0-14.537-12.8c-8.04-.869-15.321 4.794-16.458 12.8h30.995ZM18.286 18.286H0v91.428h54.857V91.43H18.286V18.286Zm329.143 0h18.285v91.428h-17.28v-6.4a22.309 22.309 0 0 1-18.285 8.229a31.177 31.177 0 0 1-30.263-33.829a30.72 30.72 0 0 1 30.171-33.828a23.954 23.954 0 0 1 17.372 6.4v-32Zm1.371 59.428A14.903 14.903 0 0 0 333.989 60.8c-8.747.635-15.375 8.157-14.903 16.914c-.472 8.757 6.156 16.28 14.903 16.915A14.903 14.903 0 0 0 348.8 77.714ZM73.143 16.457A11.611 11.611 0 0 0 61.714 27.43c0 6.311 5.117 11.428 11.429 11.428S84.57 33.74 84.57 27.43a11.611 11.611 0 0 0-11.428-10.972ZM64 109.714h18.286v-64H64v64ZM512 9.143v109.714a9.143 9.143 0 0 1-9.143 9.143H393.143a9.143 9.143 0 0 1-9.143-9.143V9.143A9.143 9.143 0 0 1 393.143 0h109.714A9.143 9.143 0 0 1 512 9.143Zm-91.429 36.571h-18.285v64h18.285v-64Zm2.286-18.285c0-6.312-5.117-11.429-11.428-11.429C405.117 16 400 21.117 400 27.429c0 6.311 5.117 11.428 11.429 11.428c6.311 0 11.428-5.117 11.428-11.428Zm70.857 48.365c0-20.114-6.674-31.908-26.148-31.908a24.777 24.777 0 0 0-20.572 10.971v-9.143h-17.28v64H448V79.817a15.909 15.909 0 0 1 15.177-17.646c10.606 0 12.252 10.423 12.252 17.646v29.897h18.285v-33.92Z"
														fill="currentColor"/>
									</svg>
							</a>
	
					</div>
			</div>
	</div>
	</body>
</html>
