---
import LinkedIn from '../components/logos/LinkedIn.astro';
import GitHub from '../components/logos/GitHub.astro';
import Portfolio from '../layouts/Portfolio.astro';
import AccountLinks from '../components/AccountLinks.astro';
---

<Portfolio>
	<div class="container mt-20 leading-10 flex flex-col items-center mx-auto relative">
		<div>
				<span class="font-bold font-inter text-white md:text-2xl">
						Hi there, my name is
				</span>
		</div>

		<div>
				<span class="bg-gradient-to-l from-blurama to-pinkrama text-transparent bg-clip-text font-bold font-inter text-4xl md:text-6xl">
						Jericho Opsima
				</span>
		</div>

		<div class="absolute bottom-2 w-[28.5rem] h-3 opacity-40 from-pinkrama to-blurama bg-gradient-to-l"></div>
	</div>

	<div class="container mt-20 leading-10 flex flex-col items-center mx-auto">
		<div>
				<span class="font-medium font-inter text-white md:text-2xl">Computer Science student from the
						<span class="bg-gradient-to-l from-blurama to-pinkrama text-transparent bg-clip-text font-bold font-inter md:text-2xl">
								Philippines
						</span>
				</span>
		</div>

		<!--  Account Links  -->
		<AccountLinks>
			<GitHub/>
			<LinkedIn/>
		</AccountLinks>
	</div>

	<p class="text-white font-inter">I like reading books. The best one I've read so far was <span>Project Hail Mary</span> by <span>Andy Weir</span>. Currently, I'm reading <span>Stolen Focus: Why You Can't Pay Attention -- and How to Think Deeply Again </span> by <span>Johann Hari</span> </p>

</Portfolio>
