<div
	class="rounded-xl h-40 w-64 hover:border-[#0B0520] box-border hover:shadow-[0px_0px_8px_rgba(46,53,243,.5)] p-4 cursor-pointer ease-in-out duration-200 hover:-translate-y-2 hover:scale-100"
>
	<div class="text-white">
		<div class="flex flex-col justify-between h-full select-none">
			<span class="font-inter text-2xl font-bold self-end">What is Machine Learning?</span>
			<span class="font-inter text-sm self-end opacity-40">September 1, 2021</span>
		</div>
	</div>
</div>
