<html lang="en">
	<head class="h-screen bg-adama">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body class="h-screen bg-adama">
    <slot/>
	</body>
</html>